<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/login.css"><!-- Link to your custom CSS file -->
</head>
<body>
    
    <div class="card">
        <h2>Login</h2>
        <p>Let's get started!</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <form action="/login" method="POST">
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
        <p>or</p>
        <input type="submit" value="Continue With">
        <p>If you don't have an account, <a href="/signup">Create Account</a>
        </p>
        <a href="/">Back To Home</a>
    </div>
</body>
</html>